@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor hca
@model YodaCodingForumBack.Models.SearchClass
@{
    ViewData["Title"] = "問答管理";
}
<head>
    <style>
        /*字串過長變.......*/
        .relatedArticle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<div class="content-wrapper">
    @*<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">*@
    <div class="card-info card card-dark primary mt-3">
        <div class="card-header">
            <h3 class="card-title">問答列表</h3>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>問答標題</th>
                        <th>問答狀態</th>
                        <th>瀏覽數</th>
                        <th>按讚數</th>
                        <th>發問者</th>
                        <th>發問時間</th>
                        <th>最後修改時間</th>
                        <th>版次</th>
                    </tr>
                </thead>
                <tbody>
                    @*排序*@
                    @{int i = 0;}
                    @foreach (var qa in Model.articleList)
                    {
                        <tr>
                            <td>@{i += 1;}@i</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="/qa/qadetails?q=@qa.ArticleId">
                                    <i class="fas fa-eye"></i>

                                </a>
                            </td>
                            <td class="relatedArticle">@qa.ArticleTitle</td>
                            @if (qa.ArticleStatus == "F")
                            {
                                <td class="error text-green">已解答</td>
                            }
                            else if (qa.ArticleStatus == "D")
                            {

                                <td class="error text-danger">已刪除</td>
                            }
                            else
                            {
                                <td class="error text-primary">發問中</td>
                            }
                            <td>@qa.ArticleViews</td>
                            <td>@qa.ArticleLike</td>
                            <td>@qa.CreateUser</td>
                            <td>@qa.CreateDate</td>
                            <td>@qa.LastupdateDate</td>
                            <td>@qa.Version</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    @*</div>
                </div>
            </div>

        </section>*@
</div>