@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor hca
@model YodaCodingForumBack.Models.SearchClass
@{
    ViewData["Title"] = "問答搜尋";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card-info">
                        <div class="card-header">
                            <h3 class="card-title">問答列表</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>問答標題</th>
                                        <th>問答狀態</th>
                                        <th>瀏覽數</th>
                                        <th>發問者</th>
                                        <th>發問時間</th>
                                        <th>最後修改時間</th>
                                        <th>版次</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*排序*@
                                    @{int i = 0;}
                                    @foreach (var qa in Model.articleList)
                                    {
                                        <tr>
                                            <td>@{i += 1;}@i</td>
                                            <td>@qa.ArticleTitle</td>
                                            <td>@qa.ArticleStatus</td>
                                            <td>@qa.ArticleViews</td>
                                            <td>@qa.CreateUser</td>
                                            <td>@qa.CreateDate</td>
                                            <td>@qa.LastupdateDate</td>
                                            <td>@qa.Version</td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="@Url.Action("QADetails", "Article")">
                                                    <i class="fas fa-eye"></i>

                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
</div>